.logout-btn{
    display: none;
}
th{
    height: 3rem;
}
tr{
  
}
td{

    vertical-align: middle;
    text-align: center;
    
}

.img-prod{
    width: 400px;
    height: 400px;
    background-color: red;
    margin-top: 32px;
    background-size: cover;
    background-repeat: no-repeat;
}